.placeholder {
    height: calc(100vh - 45px);
    background-image: url('/assets/images/bg-2.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}