div {
    height: calc(100vh - 45px);
    min-height: 640px;
    background: url("/assets/images/unite/bg-unite.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}